.ScoreTable{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.ScoreTable table, th, td {
    border: 1px solid white;
    height: 50px;
}

.ScoreTable th{
    background-color: #8da8d8;
    color: white;
    font-weight: normal;
}

.ScoreTable tr:nth-child(even){
    background-color: #f0f4ff;
}

.ScoreTable #fn, #ln{
    width: 25%;
    text-align: left;
    padding-left: 15px;
}

.ScoreTable #g, #s{
    width: 17.5%;
}